
body{
    background-color: lightgray;
}
#title{
    margin-top: 20px;
    text-align: center;
    font-weight: 800px;
}
#img-div{
    display: block;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#img-caption{
    display: block;
}

#img-div{
    background-size: cover; 
}
#image{
    width:100%;
    height: 100%;
    margin-bottom: 20px;
    

}
#img-caption{
    
    margin-bottom: 20px ;
    text-align: center;
   
}
#tribute-info{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
li{
    margin-bottom: 10px;
}